@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dbdddc;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 1050px;
  height: 100%;
  margin: 0 auto 92px;
  /* padding: 0 60px 40px 60px; */
}

/* Header of the Container */
.container .container-header {
  width: 100%;
  height: 100px;
  background-color: #00a884;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container .container-header span {
  display: flex;
  align-items: center;
}

.container-header span img {
  height: 40px;
  width: 40px;
}

.container-header span h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 18px;
}

/* Body of the Container */
.container .container-main {
  height: 100%;
  border-radius: 10px;
  padding: 30px 80px;
  background-color: #f0f2f5;
}

.container-main .windows-app {
  width: 800px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d7db;
  border-radius: 5px;
  margin: 10px auto;
  padding: 24px 40px;
  gap: 10px;
}

.windows-app .windows-app-text .text1 {
  color: #111b21;
}

.windows-app .windows-app-text .text2 {
  font-size: 13px;
  color: #54656f;
}

.windows-app .get-app {
  width: 130px;
  height: 45px;
  background-color: #008069;
  border: 2px solid #008069;
  border-radius: 25px;
  outline: none;
}

.windows-app .get-app button {
  width: 100%;
  height: 100%;
  background-color: #008068;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}

.container .container-main .web-app-qr {
  width: 100%;
  height: 310px;
  margin: 0 0 20px;
  padding: 10px 0;
  display: flex;
  align-items: start;
  justify-content: flex-end;
  border-bottom: 1px solid #d1d7db;
}

.container-main .web-app-qr .web-app-qr-left {
  width: 60%;
  padding-top: 5px;
}

.web-app-qr .web-app-qr-left h1 {
  color: #41525d;
  font-size: 28px;
  font-weight: 200;
}

.web-app-qr-left ol li {
  color: #3b4a54;
  font-size: 18px;
  font-weight: 300;
  margin-top: 18px;
}

ol li strong {
  font-weight: 500;
}

ol li i {
  width: 15px;
  height: 15px;
}

.container-main .web-app-qr .web-app-qr-right {
  width: 40%;
  padding-left: 80px;
}

.web-app-qr .web-app-qr-right img {
  width: 265px;
  height: 265px;
}

.container .container-main .web-app-phone {
  font-size: 18px;
  color: #008069;
  background-color: #f0f2f5;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 40px 0 50px;
}

.container .container-main .tutorial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-main .tutorial h2 {
  font-size: 28px;
  font-weight: 200;
  color: #41525d;
  text-align: center;
}

.container .tutorial a {
  color: #008069;
  font-size: 14px;
  padding-bottom: 20px;
}

.container .tutorial video {
  width: 70%;
  height: 300px;
}
