@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dbdddc;
  width: 100%;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 1050px;
  height: 100%;
  margin: 0 auto 92px;
  /* padding: 0 60px 40px 60px; */
}

/* Header of the Container */
.container .container-header {
  width: 100%;
  height: 100px;
  background-color: #00a884;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container .container-header span {
  display: flex;
  align-items: center;
}

.container-header span img {
  height: 40px;
  width: 40px;
}

.container-header span h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 18px;
}

/* Body of the Container */
.container .container-main {
  border-radius: 10px;
  padding: 60px 50px 50px;
}

.container-main .windows-app {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #d1d7db;
  border-radius: 5px;
  padding: 24px 40px;
}

.windows-app .windows-app-text .text1 {
  color: #111b21;
}

.windows-app .windows-app-text .text2 {
  font-size: 14px;
  color: #54656f;
}

.windows-app .get-app {
  background-color: #008068;
  color: #fff;
  border: none;
}
